<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description"
			content="Start your next web project with Pure." />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<title>Get Started &ndash; Pure</title>
		
		<link rel="stylesheet"
			href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css" />	
	</head>
		
	<body>
	
		<h1>Hello2</h1>
		<table class="pure-table pure-table-bordered">
				
			<tr th:each="kind : ${kinds}">
				<td><a href="/kind/${kind}" th:href="/kind/${kind}">/kind/${kind}</a></td>			
			</tr>
		
		</table>
		
	</body>
</html>