<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title th:text="${kind} + ' - velvetdb'">kind - velvetdb</title>		
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css" />	
	</head>
		
	<body>
			
		<h4><a href="/" th:href="${rootUrl}">Entities</a> &gt; <span th:text="${kind}">kind</span></h4>
		
		<p>
			Shown records <span th:text = "${offset} + 1" >101</span> - <span th:text="${lastIndex}">200</span> of <span th:text="${total}"></span> 
		</p>

		<table class="pure-table pure-table-bordered">
			<thead>
				<tr>
					<th th:text="${keyField}">key field name</th>				
					<th th:if="${!field.equals(keyField)}" th:each="field: ${fields}"><span th:text="${field}"/></th>
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="row: ${rows}">				
					<td><a href="url" th:href="'/record/' + ${kind} + '/' + ${row[keyField].view()}"><span th:text="${row[keyField].view()}"/></a></td>
					<td th:if="${!field.equals(keyField)}" th:each="field: ${fields}"><span th:text="${row[field].view()}"/></td>
				</tr>
		
			</tbody>
		
		</table>



		<p>New record</p>
		<form method="post" action="new/kind" th:action="'/new/' + ${kind}" enctype="application/x-www-form-urlencoded" >
			<span th:text="${keyField}">keyName</span> <input type="text" name="key" />
		<input type="submit" value="save" />
		</form>
		
	
	</body>
</html>