<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description"
			content="Start your next web project with Pure." />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<title>Get Started &ndash; Pure</title>
		
		<link rel="stylesheet"
			href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css" />	
	</head>
		
	<body>
	
			
		<h4><a href="${it.rootUrl}">All Kinds</a> &gt; <span th:text="${kind}">kind</span></h4>

		<table class="pure-table pure-table-bordered">

		<tr>
			<td><span th:text="${keyField}">keyField</span></td>			
			<td th:if="${!field.equals(keyField)}" th:each="field: ${fields}"><span th:text="${field}"/></td>
		</tr>
	
		<tr th:each="row: ${rows}">
			<td><a href="url" th:href="'/entry/' + ${kind} + '/' + ${row[keyField].value}"><span th:text="${row[keyField].editor.view(row[keyField].value)}"/></a></td>
			<td th:if="${!field.equals(keyField)}" th:each="field: ${fields}"><span th:text="${row[field].editor.view(row[field].value)}"/></td>
		</tr>
	

</table>

<p>New record </p>
<form method="post" action="${it.newRecordUrl}" enctype="application/x-www-form-urlencoded" >
${it.keyField} <input type="text" name="key" />
<input type="submit" value="save" />
</form>
		
	
	</body>
</html>