<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title th:text="${kind} + ' - ' + ${key} + ' - velvetdb'">kind - 12 - velvetdb</title>		
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css" />
		
		<script type="text/javascript" src="http://code.jquery.com/jquery.min.js" charset="utf-8"></script>	
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-te/1.4.0/jquery-te.min.js" charset="utf-8"></script>
	</head>
		
	<body>
	
		<form method="post" action="${it.submitUrl}" enctype="application/x-www-form-urlencoded" >
				
		<h4><a href="/" th:href="${rootUrl}">Entities</a> &gt; <a href="/kind/passport" th:href="'/kind/' + ${kind}" th:text="${kind}"></a>  &gt; <span th:text="${key}">key</span></h4>
		
		<table class="pure-table pure-table-bordered">
			<tbody>
				<tr th:each="field : ${fields}">
				   <td><span th:text="${field}">key name</span></td>
					<td th:utext="${row[field].edit()}">value</td>
			  	</tr>
			</tbody>
		</table>
		
	<input type="hidden" name="-key" value="${it.key}" />
	<input type="submit" value="save" />
	
	</form>
	
	<div style = "border: 5px solid #ccf; margin: 5px; padding: 10px" >
	
		<p>Linx</p>
		
		<div th:each="singleLink : ${singleLinks}" >
		  <p>
			  <b><span th:text="${singleLink.edgeKind}" /></b>
			  <!-- (<span th:text="${singleLink.kind}" />) -->
			  
			   <a th:if="${!singleLink.value.isEmpty()}"
		        th:href="${rootUrl} + 'record/' +  ${singleLink.kind} + '/' + ${singleLink.value}"
		        th:text="${singleLink.value}">linkkey</a>
		        
		       <span th:if="${singleLink.value.isEmpty()}">[-]</span>		        
		        
		    
		      <form th:if="${singleLink.picker != null}" method="post" action="/pick" enctype="application/x-www-form-urlencoded" >
			     <select name="parentKey" th:field="${singleLink.value}">
			     	<option th:each="candidate : ${singleLink.picker}" th:value="${candidate.key}" th:text="${candidate.key}" >child key</option>			  	   
			  	 </select>			  	 
			  	 <input type="hidden" name="edgeKind" th:value="${singleLink.kind}" />			  	 
			  	 <input type="hidden" name="key" th:value="${key}" />
			     <input type="submit" value="Save" />
			  </form> 
		  
		  
		  
		  	<div th:if="${singleLink.value.equals('')}">  		
		      <form method="post" action="${it.newRecordUrl}/${singleLink.kind}" enctype="application/x-www-form-urlencoded" >
		      	<c:if test="${singleLink.needsKey}">
		        	<input type="text" name="key" value="" />
		  		</c:if>	        
		        <input type="hidden" name="linkHostKey" value="${it.key}" />
		        <input type="hidden" name="linkEdgeKind" value="${singleLink.edgeKind}" />
		      	<input type="submit" value="+" />
		      </form>	      
		     </div>
		     
		     	      
		    
		     
		  
		  </p>
		  
		</div>
		
		<div th:each ="multiLink : ${multiLinks}">		  
		  <p th:text="${multiLink.edgeKind} + ' ' + ${multiLink.kind}">edgeKind kind </p>
		  <div class = "table-striped">
		  <table class="table-bordered table-striped">
		 	
		 	<tr th:each="key : ${multiLink.keyz}">
		 		<td><a 
			 	href="/record/kind/id"
			 	th:href="'/record/' + ${multiLink.kind} + '/' + ${key}"
			 	th:text="${key}">key</a></td>
			</tr>
		 	
		 	<tr>
		 	  <td>
			    <form method="post" action="${it.pickChildUrl}" enctype="multipart/form-data" >
			    
			      <select name="childKey">		      
			        <c:forEach var="candidateKey" items="${multiLink.candidates}">
		 			<option value="${candidateKey}">${candidateKey}</option>
		 			</c:forEach>
			      </select>
			  
				  <input type="hidden" name="hostKey" value="${it.key}" />
				  <input type="hidden" name="edgeKind" value="${multiLink.edgeKind}" />
				
				  <input type="submit" value="Pick" />
			    </form>
		 	  </td>
		 	</tr>
		 	
		  </table>
		  
		  </div>
		</div>
	
	</div>	
	
	
	<p></p>
	
	<form method="post" action="${it.deleteUrl}" enctype="application/x-www-form-urlencoded" >
		<input type="hidden" name="-key" value="${it.key}" />
		<input type="submit" value="delete" />
	</form>
	
	<script>
		$(function() {
			$('.rich').jqte();		    
		});
	</script>

</body>
</html>